// theme colors
$dark: #15122f;
$primary: #656289;
$white: #fff;
$blue: #3f75ff;
$disabled: #f9f9f9;
$darkGray: #7a7a7c;
$light: #eee;

$boxShadowBase: 0 0 23px rgba(214, 220, 235, 0.3);

// text colors
$dark-text: #15122f;
$primary-text: #656289;
$error-text: #db4444;
$dark-error-text: #da453f;
$black-text: #000;
$link: #3969e6;
$darkGray: #7a7a7c;
$lightGray: #9c9d9e;

// main theme
$main: #0a2750;
$secondary: #3579b8;
$third: #a9c9e7;
$fourth: #dff0ff;
$background: #f7f7fb;
$error: #eb5757;
